---
actions:
  0:
    action: delete_indices
    description: >-
      Delete indices older than {{ elasticsearch_curator_days_to_delete }} days
      (based on index name), for logstash-prefixed indices.
      Ignore the error if the filter does not result in an
      actionable list of indices (ignore_empty_list) and exit cleanly.
    options:
      timeout_override:
      continue_if_exception: True
      ignore_empty_list: True
      disable_action: False
    filters:
    - filtertype: pattern
      kind: prefix
      value: logstash-
      exclude:
    - filtertype: age
      source: name
      direction: older
      timestring: '%Y.%m.%d'
      unit: days
      unit_count: {{ elasticsearch_curator_days_to_delete }}
      exclude:
  1:
    action: close
    description: >-
      Close indices older than {{ elasticsearch_curator_days_to_close }} days
      (based on index name), for logstash-prefixed indices.
    options:
      delete_aliases: False
      timeout_override:
      continue_if_exception: True
      ignore_empty_list: True
      disable_action: False
    filters:
    - filtertype: pattern
      kind: prefix
      value: logstash-
      exclude:
    - filtertype: age
      source: name
      direction: older
      timestring: '%Y.%m.%d'
      unit: days
      unit_count: {{ elasticsearch_curator_days_to_close }}
      exclude:
  2:
    action: alias
    description: >-
      Update logstash-today alias indices
    options:
      name: logstash-today
      extra_settings:
      timeout_override:
      continue_if_exception: True
      ignore_empty_list: True
      disable_action: False
    add:
      filters:
      - filtertype: pattern
        kind: prefix
        value: logstash-
        exclude:
      - filtertype: age
        source: name
        direction: younger
        timestring: '%Y.%m.%d'
        unit: days
        unit_count: 1
        exclude:
    remove:
      filters:
      - filtertype: pattern
        kind: prefix
        value: logstash-
      - filtertype: age
        source: name
        direction: older
        timestring: '%Y.%m.%d'
        unit: days
        unit_count: 1
        exclude:
  3:
    action: alias
    description: >-
      Update logstash-twoday alias indices
    options:
      name: logstash-twoday
      extra_settings:
      timeout_override:
      continue_if_exception: True
      ignore_empty_list: True
      disable_action: False
    add:
      filters:
      - filtertype: pattern
        kind: prefix
        value: logstash-
        exclude:
      - filtertype: age
        source: name
        direction: younger
        timestring: '%Y.%m.%d'
        unit: days
        unit_count: 2
        exclude:
    remove:
      filters:
      - filtertype: pattern
        kind: prefix
        value: logstash-
      - filtertype: age
        source: name
        direction: older
        timestring: '%Y.%m.%d'
        unit: days
        unit_count: 2
        exclude:
