---
actions:
{% for prefix in {{ elasticsearch_curator_prefixes }} %}
{% set second_action_number = loop.index * 2 %}
{% set first_action_number = second_action_number - 1 %}
  {{ first_action_number }}:
    action: delete_indices
    description: >-
      Delete indices older than {{ prefix.days_to_delete }} days
      (based on index name), for logstash-prefixed indices.
      Ignore the error if the filter does not result in an
      actionable list of indices (ignore_empty_list) and exit cleanly.
    options:
      timeout_override:
      continue_if_exception: True
      ignore_empty_list: True
      disable_action: False
    filters:
    - filtertype: pattern
      kind: prefix
      value: {{ prefix.prefix }}
      exclude:
    - filtertype: age
      source: name
      direction: older
      timestring: '%Y.%m.%d'
      unit: days
      unit_count: {{ prefix.days_to_delete }}
      exclude:
  {{ second_action_number }}:
    action: close
    description: >-
      Close indices older than {{ elasticsearch_curator_days_to_close }} days
      (based on index name), for logstash-prefixed indices.
    options:
      delete_aliases: False
      timeout_override:
      continue_if_exception: True
      ignore_empty_list: True
      disable_action: False
    filters:
    - filtertype: pattern
      kind: prefix
      value: {{ prefix.prefix }}
      exclude:
    - filtertype: age
      source: name
      direction: older
      timestring: '%Y.%m.%d'
      unit: days
      unit_count: {{ prefix.days_to_close }}
      exclude:
{% endfor %}
